
#w3__orAssVoipAssign__plug1TelnumOutgoing_templateAuto, #w3__orAssVoipAssign__plug2TelnumOutgoing_templateAuto
{
	display				: none;
}

/* BLOCK */
.w3-tlabs-assistant-telnumoutgoing
{
	margin				: 10px 0 10px 15px;
}

/* INPUT */
.w3-tlabs-assistant-telnumoutgoing > select
{
	float				: right;
	width				: 138px;
	-moz-box-shadow 	: 0px 3px 0px 0px #c2c2c2;
	-webkit-box-shadow	: 0px 3px 0px 0px #c2c2c2;
	box-shadow 			: 0px 3px 0px 0px #c2c2c2;
	background 			: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ffffff), color-stop(1, #e8e8e8) );
	background 			: -moz-linear-gradient( center top, #ffffff 5%, #e8e8e8 100% );
	filter 				: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#e8e8e8');
	background-color 	: #ffffff;
	-moz-border-radius 	: 3px;
	-webkit-border-radius : 3px;
	border-radius 		: 3px;
	border 				: 1px solid #eaeaea;
	border-bottom: 1px solid #c2c2c2;
	padding 			: 3px 5px;
	position			: absolute;
	top					: 0px;
}

.w3-tlabs-assistant-telnumoutgoing > select:nth-child(2)
{
	left				: 146px;
}

/* INPUT FF FIX */
.w3-tlabs-assistant-telnumoutgoing > select > option
{
	color 				: #5b5b5b;
}

/* INPUT HOVER */
.w3-tlabs-assistant-telnumoutgoing > select:hover
{
	color 				: #3f90b6;
	cursor 				: pointer;
}

/* LABEL */
.w3-tlabs-assistant-telnumoutgoing > label
{
	line-height			: 27px;
	cursor				: pointer;
}
