/* BLOCK */
.w3-tlabs-assistant-radioinputleft
{
	margin				: 0px 0 10px 10px;
}

/* INPUT WRAPPER */
.w3-tlabs-assistant-radioinputleft > div:first-child
{
	margin-left			: 0px;
	width 				: 442px;
}

/* PARAGRAPH */
.w3-tlabs-assistant-radioinputleft > div > p
{
	margin 				: 0 0 8px 0;
	clear: both;
}

/* LABEL */
.w3-tlabs-assistant-radioinputleft > div > p > label
{
	cursor				: pointer;
	position 			: relative;
	top 				: 3px;
	margin-left			: 5px;
}

/* INPUT */
.w3-tlabs-assistant-radioinputleft > div > p > input
{
	float: left;
}