.w3-tlabs-assistant-texttitle
{
	padding-left			: 0px;
	padding-right			: 0px;
	padding-top				: 0px;
	padding-bottom			: 0px;
}

.w3-tlabs-assistant-texttitle h1
{
	font-size				: 12px;
	font-weight				: bold;
	color					: #000;
	margin-bottom 			: 4px;
}