.w3-tlabs-or-brand
{
	text-align			: right;
}

.w3-tlabs-or-brand div.or-logo
{
	position			: absolute;
	left				: 16px;
	top					: 0px;
	width				: 60px;
	height				: 60px;
}

.w3-tlabs-or-brand span
{
	position			: relative;
	top					: 35px;
	padding-right		: 12px;
}

.w3-tlabs-or-brand a
{
	color				: #4B4B4B;
	font-size			: 10px;
	font-style			: normal;
	text-decoration		: none;
}

.w3-tlabs-or-brand a:hover
{
	color				: #507080;
	text-decoration		: underline;
}
