/* BLOCK */
.w3-tlabs-content-passwordinput
{
	padding					: 4px 0 4px 15px;
}

/* primary input */
.w3-tlabs-content-passwordinput > div + input
{
	float					: right;
	width					: 210px;
	border 					: 1px solid #bcbcbc;
	color					: #5b5b5b;
	padding					: 3px 5px;
	-moz-border-radius		: 3px;
	-webkit-border-radius	: 3px;
	border-radius 			: 3px;
	-webkit-box-shadow		: inset 0px 1px 2px 0px rgba(0, 0, 0, 0.15);
	-moz-box-shadow			: inset 0px 1px 2px 0px rgba(0, 0, 0, 0.15);      
    box-shadow 				: inset 0px 1px 2px 0px rgba(0, 0, 0, 0.15);
}

/* alt input */
.w3-tlabs-content-passwordinput > input + input
{
	display					: none;
}

/* TEXT INPUT LABEL */
.w3-tlabs-content-passwordinput > label
{
	line-height				: 27px;
	cursor					: pointer;
}

/* CHECKBOX INPUT */
.w3-tlabs-content-passwordinput  > input[type='checkbox']
{
	margin-left				: 233px;
}

/* CHECKBOX INPUT LABEL */
.w3-tlabs-content-passwordinput  > label:last-child
{
	position				: relative;
	top						: -2px;
}

/* ERROR */
.w3-tlabs-content-passwordinput.w3_error > div + input
{
	border					: 1px solid red;
}
.w3-tlabs-content-passwordinput > div:first-child
{
	display					: none;
	background-image		: URL(../../icon/tlabs/or/status_12x12.png);
	background-repeat		: no-repeat;
	background-position		: left center;
	padding-left			: 15px;
}
.w3-tlabs-content-passwordinput.w3_error > div:first-child
{
	color					: red;
	display					: block;
	background-position		: 0px -36px;
}
